#search,
.navbar-toggler,
.navbar-toggler svg {
    color: var(--text-color);
}
#search-content,
#search:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#search-content,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: var(--secondary-color) !important;
}
#search-results > .card :hover,
#theme-toggle,
.dropdown-menu {
    background-color: var(--background-color) !important;
}
#search-results .card a,
#theme-toggle,
header .navbar .navbar-nav a {
    color: var(--text-color) !important;
}
header {
    z-index: 10;
    position: relative;
    top: 0;
}
.showHeaderOnTop {
    box-shadow: 0 8px 56px rgba(15, 80, 100, 0.16);
    top: 0;
    position: sticky;
}
.navbar-toggler {
    border: none;
    outline: 0;
}
#search-results .card a:hover,
.navbar .nav-link:hover,
.navbar-brand,
li > .dropdown-toggle:focus {
    color: var(--primary-color) !important;
}
.navbar-toggler svg {
    fill: currentColor;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.05em;
}
.navbar-text {
    font-size: 16px !important;
    opacity: 0.95;
}
header .nav-link {
    transition: none !important;
}
.navbar-brand {
    opacity: 0.95;
}
.dropdown-menu {
    overflow: auto;
    border-color: var(--text-secondary-color) !important;
}
#search {
    border-radius: 1rem !important;
    background-color: var(--secondary-color);
    border-color: var(--background-color) !important;
    transition: none;
}
#search-content {
    -ms-scroll-chaining: none;
    scrollbar-width: none;
    display: none;
    border-radius: 1rem;
    z-index: 9999;
    width: 10%;
    max-height: 350px;
    position: absolute;
    overflow: scroll;
}
#search-content::-webkit-scrollbar {
    display: none;
}
#search-results > .card {
    background-color: transparent !important;
    border: none;
    margin-bottom: 10px;
}
#search-results > .card :hover {
    border-radius: 1rem !important;
    transition: 0.2s;
}
#search-results .card a {
    opacity: 0.9;
    display: inline-block;
    text-decoration: none;
}
